- name: Initialize the control plane
  ansible.builtin.command:
    cmd: kubeadm init --pod-network-cidr=172.16.0.0/16 --cri-socket=unix:///run/containerd/containerd.sock
  args:
    creates: /etc/kubernetes/admin.conf
  become: true

- name: Create $HOME/.kube
  ansible.builtin.file:
    path: /home/ubuntu/.kube
    state: directory
    mode: "755"

- name: Copy default Kubernetes config to $HOME
  ansible.builtin.copy:
    src: /etc/kubernetes/admin.conf
    dest: /home/ubuntu/.kube/config
    mode: "0644"
    remote_src: true
  become: true

- name: Deploy Calico pod network to the cluster
  ansible.builtin.command:
    cmd: kubectl apply -f https://docs.projectcalico.org/manifests/calico.yaml
  become: true
  become_user: ubuntu
  changed_when: true

- name: Get join token command
  ansible.builtin.command:
    cmd: kubeadm token create --print-join-command
  register: control_plane_kubeadm_token_output
  changed_when: true

- name: Publish join command
  ansible.builtin.set_fact:
    control_plane_join_command: "{{ control_plane_kubeadm_token_output.stdout }}"
